
<h2>User info</h2>

  <div class="field">
    <label for="user_name">Name</label>
    <input class="name" type="text" value="user_name" name="user[name]" id="user_name" />
  </div>

  <div class="field">
    <label for="user_image">Image</label>
  </div>

 <div class="field">
    <label for="user_introduction">Introduction</label>
    <textarea class="introduction" name="user[introduction]" id="user_introduction">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update User" data-disable-with="Update User" />
  </div>
</form>
</div>
</div>
  </body>
</html>

