<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Bookers</title>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="glyphicon glyphicon-home home" href="/users/id"> Home</a></li>
          <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
          <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
          <li><a class="glyphicon glyphicon-log-out logout" data-method="delete" href="/users/sign_out"> logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1>User info</h1>
<%= form_for(@user) do |f| %>

 <div class="field">
    <label for="user_name">Name</label>
    <input class="name" type="text" value="name" name="user[name]" id="user_name" />
  </div>

  <div class="field">
    <label for="user_image">Image</label>
    <input class="user_image" data-reference="5acae984bdd87cd64712411005504537" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image" />
  </div>

  <div class="field">
    <label for="user_introduction">Introduction</label>
    <textarea class="introduction" name="user[introduction]" id="user_introduction">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update User" data-disable-with="Update User" />
  </div>

<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='col-xs-3 col-xs-offset-9'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

  </body>
</html>
