<%= form_for(@book) do |f| %>

	<div class="field row">
		<label for="title">Title</label>
		<br><%= f.text_field :title ,class:"col-xs-12"%></br>
	</div>

	<div class="field row">
		<label for="body">Opinion</label>
		<%= f.text_area :body ,class:"col-xs-12"%>
	</div>

	<div class="actions row">
		<%= f.submit 'Create Book',class:"btn btn-primary col-xs-12" %>
	</div>

<% end %>